.comment-container {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  margin-bottom: 20px;
}

.child-comment::before {
  content: "-------";
  position: relative;
  left: -39px;
  top: 40px;
}

.child-comment {
  margin-left: 20px;
  padding-left: 40px;

  border-left: 1px solid grey;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

.reply-actions {
  display: flex;
  gap: 10px;
}
